[submodule "tasks-microservice"]
	path = tasks-microservice
	url = https://github.com/Jhon112/tasks-microservice.git
[submodule "user-microservice"]
	path = user-microservice
	url = https://github.com/Jhon112/user-microservice.git
[submodule "To-do-FrontEnd"]
	path = To-do-FrontEnd
	url = https://github.com/Jhon112/To-do-FrontEnd.git
